[submodule "go_1_7"]
	path = go_1_7
	url = https://github.com/libertine-linux-clones/go_1_7.git
	branch = release-branch.go1.7
[submodule "go_1_4"]
	path = go_1_4
	url = https://github.com/libertine-linux-clones/go_1_4.git
	branch = release-branch.go1.4
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = true
